@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Pacifico&display=swap');


#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content:space-around;
}
nav a {
    text-align: center;
    color:rgba(25, 22, 22, 0.726);
    text-decoration: none;
    padding: 50px;
}
.logo{
    width:155px;
}
.home-page-phone, .home-page-bank{
    width: 250px;
}
.how-couple, .how-family{
    width: 250px;
    height: 285px;
}
.why-couple, .why-pizza{
    width: 250px;
    height: 320px;
}
.why-family {
    width: 280px;

}
