@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Pacifico&display=swap');


#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content:space-around;
}
nav a {
    text-align: center;
    color: #525151;
    text-decoration:underline;
    padding: 20px;
}
header{
    display:grid;
    grid-template-columns: 25px auto;
    background-color: #e8d2ae;
    color: #525151;
    align-items: end;

}
nav a:hover{
    background-color:#cb8589;
    color: #525151;
}
.logo{
    width:155px;
}
.home-page-phone, .home-page-bank{
    width: 250px;

}
.home-page-phone{
   
    margin-top: 200px;
    margin-left: 150px;

}
.home-page-bank{

}
body{
    background-color: #e8d2ae;
    font-family: 'M PLUS rounded 1c', sans-serif;
    color:#525151;
    font-size: 16px;
    padding:0;
    margin:0;
}
.home-info{
    background-color: #cb8589;
    color: #525151;
    line-height: 0.5em;
    margin-top: 300px;
    margin-left: 200px;
    width: 390px;
    height: 470px;
}
.home-info h2{
    color: #525151;
    font-size: larger;
    text-align: left;
    font-weight: 600;
    margin-top: 50px;
}
.home-info p {
    text-align: center;
    line-height:normal;

}
.how-couple, .how-family{
    width: 250px;
    height: 285px;
}
.why-couple, .why-pizza{
    width: 250px;
    height: 320px;
}
.why-family {
    width: 280px;

}
#home-grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.home-title{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 4em;
    color: #525151;
    margin-top: 0px;
}
#background{
    background-color: #e8d2ae;
    height: 800px;
    
}
footer{
    background-color: #e8d2ae;
    color:#525151;
    margin-top:0 auto;
    display: flex;
    justify-content: space-around;
    
}
footer .media img{
    justify-content: center;


}
footer h3 a{
    align-items: right;
    color:#525151
}

