@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Pacifico&display=swap');


#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content:space-around;
}
nav a {
    text-align: center;
    color:rgba(55, 55, 55);
    text-decoration:underline;
    padding: 20px;
}
header{
    display:grid;
    grid-template-columns: 90px auto;
    background-color: #cb8589;
    color:rgb(55, 55, 55);

}
nav a:hover{
    background-color:#fff ;
    color: rgb(55, 55, 55))
}
.logo{
    width:155px;
}
.home-page-phone, .home-page-bank{
    width: 250px;
}
.how-couple, .how-family{
    width: 250px;
    height: 285px;
}
.why-couple, .why-pizza{
    width: 250px;
    height: 320px;
}
.why-family {
    width: 280px;

}
